#page-header.post-bg::before {
  border-radius: 0 0 50px 50px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--mark-bg);
  content: '';
}
@media (max-width: 768px) {
  #page-header.post-bg::before {
    border-radius: 0 0 30px 30px;
  }
}

@media (min-width: 992px) {
  .card-widget.card-info {
    display: none !important;
  }
}
/* 滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: #2e317c;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #B29030;
}

/* 公众号 Start */

[data-theme='light'] #aside-content .card-widget#card-wechat {
  background: linear-gradient(45deg, #5F9EA0, #4682B4, #B0C4DE) !important;
}

#aside-content .card-widget#card-wechat {
  background: var(--card-bg);
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0;
  cursor: pointer !important;
  border: none;
  height: 110px;
}

/* 如果你设置了aside 的 mobile 为 false，记得放开下面这段注释；
 如果你设置了aside 的 mobile 为 true ，不需要改动。 */

/* @media screen and (max-width: 768px) {
  #aside-content .card-widget#card-wechat {
      display: none !important;
  }
} */

@media screen and (min-width: 1300px) {
  #aside-content .card-widget {
      margin-top: 1rem;
  }
}

#flip-wrapper {
  -webkit-perspective: 1000;
  perspective: 1000;
  position: relative;
  width: 235px;
  height: 110px;
  z-index: 1;
}

#flip-wrapper:hover #flip-content {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

#flip-content {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: cubic-bezier(0, 0, 0, 1.29) 0.3s;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: url(https://yesandnoandperhaps.cn/img/img/qrcode_for_gh_293df620e682_430.jpg) center center no-repeat;
  background-size: 100%;
}

.back.face {
  display: block;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  box-sizing: border-box;
  background: url(https://yesandnoandperhaps.cn/img/img/qrcode_for_gh_293df620e682_430.jpg) center center no-repeat;
  background-size: 100%;
}

/* 公众号 End */